# Calculo de desagregación de datos provinciales de MITMA

In [12]:
import pandas as pd

## 1. Carga de los ratios obtenidos

### Ratios desagregacion por modo (carretera)

In [13]:
path_data = "C:/Users/alejandro.gc/Desktop/Proyectos_conjuntos/01154_nuevo_mlr/reparto_ratios/data/ratios/"

In [14]:
path_in_desagregacion_modal = path_data + "ratios_desagregacion_modal_extra_prov.csv"

df_ratios_modal = pd.read_csv(path_in_desagregacion_modal, sep = ",", index_col= 0)

In [15]:
df_ratios_modal

      P_O P_D            tipo_dia   ratio_C   ratio_R
0      01  02        entre_semana  1.000000  0.000000
1      01  02          fin_semana  1.000000  0.000000
2      01  02  operacion_especial  1.000000  0.000000
3      01  03        entre_semana  0.488526  0.511474
4      01  03          fin_semana  0.732741  0.267259
...    ..  ..                 ...       ...       ...
10064  PT  51          fin_semana  1.000000  0.000000
10065  PT  51  operacion_especial  1.000000  0.000000
10066  PT  52        entre_semana  1.000000  0.000000
10067  PT  52          fin_semana  1.000000  0.000000
10068  PT  52  operacion_especial  1.000000  0.000000

[7043 rows x 5 columns]

### Ratios desagregacion por muncipio

In [16]:
path_in_desagregacion_muncipal = path_data + "ratios_desagregacion_municipal.csv"

df_ratios_municipal = pd.read_csv(path_in_desagregacion_muncipal, sep = ",", index_col= 0, low_memory=False)

- En el proyecto final, para evitar generar problemas de memoria al cargar todos los ratios municipales calculados (63 millones de registros), se cargaran solo los ratios correspondientes al mes y day_week que se quiera calcular
- Al hacer la query, cargaremos los datos de viajes del día correspondiente y solo cargaremos los datos de los ratios que correspondan, evitando la necesidad de tener que cargar todos los datos de ratios.

In [17]:
df_ratios_municipal

         P_O P_D    M_O    M_D  mes  day_week  ratio_municipal
16794     01  02  01002  02003    1         0         0.027907
16819     01  02  01002  02025    1         0         0.013953
59636     01  02  01009  02009    1         0         0.014805
59744     01  02  01009  02074    1         0         0.025532
101705    01  02  01010  02003    1         0         0.015358
...       ..  ..    ...    ...  ...       ...              ...
63047674  PT  50     PT  50272   12         6         0.036261
63047753  PT  50     PT  50288   12         6         0.003664
63047837  PT  50     PT  50297   12         6         0.719904
63047916  PT  50     PT  50298   12         6         0.001578
63047975  PT  50     PT  50903   12         6         0.005776

[63047976 rows x 7 columns]

### Ratios desagregacion horaria

In [18]:
# path_in_desagregacion_horaria = path_data + "ratios_desagregacion_horaria.csv"

# columnas_origen = ['O_D', 'month', "dayofweek", "viajes_ratio"]
# new_names = ['PO_PD', 'mes', "day_week", "ratios_horarios"]

# df_ratios_horas = pd.read_csv(path_in_desagregacion_horaria, sep = ",", 
#                                 usecols = columnas_origen, index_col= 0).reset_index()

# # Forma elegante y que le gustaría a Andrey
# rename_dict = dict(zip(columnas_origen, new_names))
# df_ratios_horas = df_ratios_horas.rename(columns = rename_dict)

In [19]:
# # Comprobamos el tipo de dato que se tiene en la columna
# # de ratios_horarios
# print(type(df_ratios_horas.ratios_horarios[0]))
# print(df_ratios_horas.ratios_horarios[0])

In [20]:
# # Convertimos las cadena de texto a tipo lista para poder
# # realziar el explode correctamente.
# df_ratios_horas["ratios_horarios"] = df_ratios_horas.ratios_horarios.apply(lambda x: eval(x))

In [21]:
# df_ratios_horas = df_ratios_horas.explode('ratios_horarios', ignore_index=True)

# # Asignar la hora basándose en el orden de aparición
# df_ratios_horas['hora'] = df_ratios_horas.groupby(['PO_PD', 'mes', 'day_week']).cumcount()
# df_ratios_horas["P_O"] = df_ratios_horas.PO_PD.str[:2]
# df_ratios_horas["P_D"] = df_ratios_horas.PO_PD.str[3:]

# df_ratios_horas = df_ratios_horas[["P_O", "P_D", "mes", "day_week", "hora", "ratios_horarios"]]

In [22]:
# df_ratios_horas[df_ratios_horas.P_O.eq("01")&
#                 df_ratios_horas.P_D.eq("48")&
#                 df_ratios_horas.mes.eq(1)&
#                 df_ratios_horas.day_week.eq(0)].ratios_horarios.sum()

In [23]:
# # Guardamos el nuevo dataframe con los ratios ya "explotados"
# # Estos serán los datos que useamos para la desagregación

# path_out = "C:/Users/alejandro.gc/Desktop/Proyectos_conjuntos/01154_nuevo_mlr/reparto_ratios/data/ratios/"
# file_name_out = "ratios_desagregacion_horaria_final.csv"
# final_path = path_out + file_name_out

# df_ratios_horas.to_csv(final_path)

In [24]:
path_in_desagregacion_horaria = path_data + "ratios_desagregacion_horaria_final.csv"

df_ratios_horas = pd.read_csv(path_in_desagregacion_horaria, sep = ",", index_col= 0, low_memory = False)

In [25]:
df_ratios_horas

        P_O P_D  mes  day_week  hora  ratios_horarios
0        01  02    1         0     0          0.00000
1        01  02    1         0     1          0.00000
2        01  02    1         0     2          0.04195
3        01  02    1         0     3          0.00000
4        01  02    1         0     4          0.00000
...      ..  ..  ...       ...   ...              ...
5769787  PT  FR   12         6    19          0.00000
5769788  PT  FR   12         6    20          0.00000
5769789  PT  FR   12         6    21          0.00000
5769790  PT  FR   12         6    22          0.00000
5769791  PT  FR   12         6    23          0.00000

[5769792 rows x 6 columns]

### Ratios de ocupación de vehículos

In [26]:
ratios_ocupacion = {
    "tipo_dia" : ["entre_semana", "fin_semana", "operacion_especial"],
    "ratio_ocupacion": [1.4, 1.7, 2.1]
}

df_ratios_ocupacion = pd.DataFrame(ratios_ocupacion)

In [27]:
df_ratios_ocupacion

             tipo_dia  ratio_ocupacion
0        entre_semana              1.4
1          fin_semana              1.7
2  operacion_especial              2.1

In [28]:
path_ocupacion_out = "C:/Users/alejandro.gc/Desktop/Proyectos_conjuntos/01154_nuevo_mlr/reparto_ratios/data/ratios/ratios_ocupacion.csv"

df_ratios_ocupacion.to_csv(path_ocupacion_out)

## 2. Carga y preparación de los datos de prueba

In [29]:
path_data_test = "C:/Users/alejandro.gc/Desktop/Proyectos_conjuntos/01154_nuevo_mlr/reparto_ratios/data/test/"
file_name = "df_20220802_provincial_diaria.csv"

path_in_test_data = path_data_test + file_name

df_test = pd.read_csv(path_in_test_data, sep = "|", index_col= 0, low_memory=False)\
            .drop(columns = ["o_pro_name", "d_pro_name"], axis = 1)

new_names = ["P_O", "P_D", "viajes_provinciales"]
rename_dict = dict(zip(list(df_test.columns), new_names))
df_test = df_test.rename(columns = rename_dict)

In [30]:
# Expresión regular para extraer la fecha en formato YYYYMMDD
import re

match = re.search(r'(\d{4})(\d{2})(\d{2})', file_name)
if match:
    # Extraer año, mes y día
    year, month, day = match.groups()
    # Convertir al formato deseado
    fecha_formateada = f"{year}-{month}-{day}"

# Sin usar regex
# import datetime as dt 
# fecha_str = file_name[3:11]
# fecha_formateada = dt.strptime(fecha_str, "%Y%m%d").strftime("%Y-%m-%d")

In [31]:
# Importamos todas las fechas de operaciones especiales
import operaciones_especiales
fechas_oe = operaciones_especiales.fechas_oe_todas

In [32]:
# Eliminamos los viajes intraprovinciales y añadimos la columna
#  de fecha a mano y definimos mes, day_week y tipo de dia

import datetime as dt
formato_fecha = "%Y-%m-%d"
dia_entre_semana = [0, 1, 2, 3, 4]

df_test = df_test.loc[df_test.P_O != df_test.P_D]
df_test["fecha"] = pd.to_datetime(fecha_formateada, format = formato_fecha)
df_test["mes"] = df_test["fecha"].dt.month
df_test["day_week"] = df_test["fecha"].dt.weekday

# Definimos el tipo de día
if fecha_formateada in fechas_oe:
    df_test["tipo_dia"] = "operacion_especial"
else:
    df_test["tipo_dia"] = df_test.day_week.apply(lambda x: "entre_semana" if x in dia_entre_semana else "fin_semana")

df_test = df_test.drop(columns = "fecha", axis = 1)

In [33]:
df_test

     P_O P_D  viajes_provinciales  mes  day_week      tipo_dia
1     01  02            13.439000    8         1  entre_semana
2     01  03           127.747596    8         1  entre_semana
3     01  04            29.538000    8         1  entre_semana
4     01  05            19.077681    8         1  entre_semana
5     01  06            97.418000    8         1  entre_semana
...   ..  ..                  ...  ...       ...           ...
2372  PT  46           137.407398    8         1  entre_semana
2373  PT  47           457.311572    8         1  entre_semana
2374  PT  48            89.283377    8         1  entre_semana
2375  PT  49          4295.455000    8         1  entre_semana
2376  PT  50           138.349000    8         1  entre_semana

[2329 rows x 6 columns]

## 3. Prueba de desagregación completa

- El primer paso consiste en obtener el numero de **viajeros por carretera**, para ello multiplicamos los valores de viajeros por el ratio de viajes por carretera correspondiente

In [44]:
df_carretera = pd.merge(df_test, df_ratios_modal,
                        on = ["P_O", "P_D", "tipo_dia"],
                        how = "left")

In [45]:
df_carretera["viajes_carretera"] = (df_carretera.viajes_provinciales * df_carretera.ratio_C)
df_carretera = df_carretera.drop(columns = ["viajes_provinciales", "ratio_C", "ratio_R"])
df_carretera

     P_O P_D  mes  day_week      tipo_dia  viajes_carretera
0     01  02    8         1  entre_semana         13.439000
1     01  03    8         1  entre_semana         62.408023
2     01  04    8         1  entre_semana         29.538000
3     01  05    8         1  entre_semana          6.989915
4     01  06    8         1  entre_semana         97.418000
...   ..  ..  ...       ...           ...               ...
2324  PT  46    8         1  entre_semana          4.849467
2325  PT  47    8         1  entre_semana        453.897818
2326  PT  48    8         1  entre_semana          5.807319
2327  PT  49    8         1  entre_semana       4295.455000
2328  PT  50    8         1  entre_semana        138.349000

[2329 rows x 6 columns]

- A continuación obtendremos el número de viajes (vehículos) usando los ratios de ocupación

In [46]:
df_carretera = pd.merge(df_carretera, df_ratios_ocupacion,
                        on = ["tipo_dia"],
                        how = "left")

In [47]:
df_carretera["viajes_carretera"] = (df_carretera.viajes_carretera / df_carretera.ratio_ocupacion)
df_carretera = df_carretera.drop(columns = ["tipo_dia", "ratio_ocupacion"])
df_carretera

     P_O P_D  mes  day_week  viajes_carretera
0     01  02    8         1          9.599286
1     01  03    8         1         44.577159
2     01  04    8         1         21.098571
3     01  05    8         1          4.992797
4     01  06    8         1         69.584286
...   ..  ..  ...       ...               ...
2324  PT  46    8         1          3.463905
2325  PT  47    8         1        324.212727
2326  PT  48    8         1          4.148085
2327  PT  49    8         1       3068.182143
2328  PT  50    8         1         98.820714

[2329 rows x 5 columns]

- Una vez obtenidos los viajes por carretera obtenemos los **viajes por municipio**

In [152]:
df_municipio = pd.merge(df_ratios_municipal, df_carretera,
                        on = ["P_O", "P_D", "mes", "day_week"],
                        how = "left").dropna()

In [153]:
df_municipio["viajes_mcp_carretera"] = (df_municipio.viajes_carretera * df_municipio.ratio_municipal)
df_municipio = df_municipio.drop(columns = ["ratio_municipal", "viajes_carretera"], axis = 1)
df_municipio

         P_O P_D    M_O    M_D  mes  day_week  viajes_mcp_carretera
1278      01  02  01002  02003    8         1              0.677713
1279      01  02  01009  02009    8         1              0.242338
1280      01  02  01009  02081    8         1              0.257537
1281      01  02  01028  02003    8         1              0.362543
1282      01  02  01028  02081    8         1              0.507591
...       ..  ..    ...    ...  ...       ...                   ...
63046636  PT  50     PT  50252    8         1              0.311254
63046637  PT  50     PT  50272    8         1              4.397223
63046638  PT  50     PT  50288    8         1              0.414180
63046639  PT  50     PT  50297    8         1             91.649739
63046640  PT  50     PT  50298    8         1              1.787423

[865061 rows x 7 columns]

- A continuación, obtenemos los **viajes por hora** para cada uno de los municipios, obteniendo de esta forma la distribución diaria de viajes por municipios

In [154]:
df_municipio_hr = pd.merge(df_municipio, df_ratios_horas,
                           on = ["P_O", "P_D", "mes", "day_week"],
                           how = "left").dropna()

In [155]:
df_municipio_hr["viajes_mcp_carretera_hr"] = (df_municipio_hr.viajes_mcp_carretera * df_municipio_hr.ratios_horarios)
df_municipio_hr

,P_O,P_D,M_O,M_D,mes,day_week,viajes_mcp_carretera,hora,ratios_horarios,viajes_mcp_carretera_hr
0,01,02,01002,02003,8,1,0.677713,0,0.000000,0.000000
1,01,02,01002,02003,8,1,0.677713,1,0.000000,0.000000
2,01,02,01002,02003,8,1,0.677713,2,0.008749,0.005929
3,01,02,01002,02003,8,1,0.677713,3,0.000000,0.000000
4,01,02,01002,02003,8,1,0.677713,4,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
20761459,PT,50,PT,50298,8,1,1.787423,19,0.057800,0.103313
20761460,PT,50,PT,50298,8,1,1.787423,20,0.038319,0.068493
20761461,PT,50,PT,50298,8,1,1.787423,21,0.029309,0.052387
20761462,PT,50,PT,50298,8,1,1.787423,22,0.020685,0.036972
20761463,PT,50,PT,50298,8,1,1.787423,23,0.012816,0.022908

In [156]:
df_municipio_hr = df_municipio_hr[["P_O", "P_D", "M_O", "M_D", "hora", "viajes_mcp_carretera_hr"]]
df_municipio_hr

         P_O P_D    M_O    M_D  hora  viajes_mcp_carretera_hr
0         01  02  01002  02003     0                 0.000000
1         01  02  01002  02003     1                 0.000000
2         01  02  01002  02003     2                 0.005929
3         01  02  01002  02003     3                 0.000000
4         01  02  01002  02003     4                 0.000000
...       ..  ..    ...    ...   ...                      ...
20761459  PT  50     PT  50298    19                 0.103313
20761460  PT  50     PT  50298    20                 0.068493
20761461  PT  50     PT  50298    21                 0.052387
20761462  PT  50     PT  50298    22                 0.036972
20761463  PT  50     PT  50298    23                 0.022908

[20761464 rows x 6 columns]

In [61]:
import datetime as dt
import pandas as pd
import re

# Importamos todas las fechas de operaciones especiales
import operaciones_especiales
fechas_oe = operaciones_especiales.fechas_oe_todas

# Se definen las rutas en las que se ecuentran las carpetas con los datos
path_data_folder = "C:/Users/alejandro.gc/Desktop/Proyectos_conjuntos/01154_nuevo_mlr/reparto_ratios/data/ratios/"
path_test_folder = "C:/Users/alejandro.gc/Desktop/Proyectos_conjuntos/01154_nuevo_mlr/reparto_ratios/data/test/"

# Se define la ruta y nombre del archivo de test
test_file_name = "df_20220802_provincial_diaria.csv"
path_datos_test = path_test_folder + test_file_name

# Se definen las rutas donde se encuentran los ratios
path_ratios_modo = path_data_folder + "ratios_desagregacion_modal_extra_prov.csv"
path_ratios_ocupacion = path_data_folder + "ratios_ocupacion.csv"
path_ratios_municipales = path_data_folder + "ratios_desagregacion_municipal.csv"
path_ratios_horarios = path_data_folder + "ratios_desagregacion_horaria_final.csv"


def carga_datos_test(path_datos_test: str,
                     file_name: str,
                     sep: str = "|", 
                     columns_drop: tuple[str] = ["o_pro_name", "d_pro_name"],
                     new_names: tuple[str] = ["P_O", "P_D", "viajes_provinciales"],
                     formato_fecha: str = "%Y-%m-%d",
                     entre_semana: list[int] = [0, 1, 2, 3, 4]) -> tuple[pd.DataFrame, str]:
    '''
    Función para cargar los datos de prueba, eliminar las columnas
    que a priori no son necesarias, eliminar los viajes intraprov
    y renombrar las columnas definitivas. Por último extrae la fecha
    en función del nombre del archivo. Una vez obtenida la fecha, se
    obtienen las columnas de mes y day_week necesarias

    Args:
    sep: definimos el separados del csv
    path_datos_test: se corresponde con la ruta en la que se encuentran los datos
    file_name: nombre del archivo en el que se encuentran los datos
    '''
    # Cargamos el df y renombramos las columnas
    df_test = pd.read_csv(path_datos_test, sep = sep, index_col= 0, low_memory=False)\
        .drop(columns = columns_drop, axis = 1)
    
    rename_dict = dict(zip(list(df_test.columns), new_names))
    df_test = df_test.rename(columns = rename_dict)

    # Eliminamos los viajes intraprovinciales
    df_test = df_test.loc[df_test.P_O != df_test.P_D]

    # Incroporamos la fecha y extraemos mes, day_week y tipo_dia
    match = re.search(r'(\d{4})(\d{2})(\d{2})', file_name)
    if match:
        year, month, day = match.groups()
        fecha_formateada = f"{year}-{month}-{day}"

    # Definimos las nuevas columnas 
    df_test["fecha"] = pd.to_datetime(fecha_formateada, format = formato_fecha)
    df_test["mes"] = df_test["fecha"].dt.month
    df_test["day_week"] = df_test["fecha"].dt.weekday

    if fecha_formateada in fechas_oe:
        df_test["tipo_dia"] = "operacion_especial"
    else:
        df_test["tipo_dia"] = df_test.day_week.apply(lambda x: "entre_semana" if x in entre_semana else "fin_semana")

    df_test = df_test.drop(columns = "fecha", axis = 1)
    
    return df_test, fecha_formateada


def carga_ratios_general(path: str) -> pd.DataFrame:
    '''
    Función que permite obtener los ratios de desagregación
    a partir de un path especcificado.

    Args:
    path: ruta del archivo con los valores de los ratios
    '''
    df = pd.read_csv(path, sep = ",", index_col= 0, low_memory=False)
    return df


def carga_ratios_municipal(path: str,
                           fecha:str,
                           formato_fecha: str = "%Y-%m-%d") -> pd.DataFrame:
    '''
    Función que permite obtener los ratios de desagregación
    municipal. Se ha creado una función especial para realizar
    un filtrado por fecha.

    Args:
    path: ruta del archivo con los valores de los ratios
    fecha: fecha de la que se toman los datos
    '''
    fecha_datetime = pd.to_datetime(fecha, format=formato_fecha)
    mes_test = fecha_datetime.month
    day_week_test = fecha_datetime.weekday()
    df = pd.read_csv(path, sep = ",", index_col= 0, low_memory=False)

    # Nos quedamos sólo con los ratios correspondientes al
    # mes y day_week que queremos estudiar
    df = df[df.mes.eq(mes_test)&df.day_week.eq(day_week_test)]

    return df

def merge_dataframes_left(df_left: pd.DataFrame,
                          df_right: pd.DataFrame,
                          columns_merge: list[str]) -> pd.DataFrame:
    '''
    Función simple que fusiona dos dataframes, el
    principal es el de la izquierda.

    Args
    df_left: dataframe principal sobre el que se fusoiona
    df_right. dataframe cuyos datos son incorporados
    columns_merge: columnas a prtir de las cuales se realiza
    la fusión
    '''
    df_merge = pd.merge(df_left,
                        df_right,
                        on = columns_merge,
                        how = "left")
    return df_merge
    

def calculo_desagregacion(df_test: pd.DataFrame,
                          df_ratios_desagregacion: pd.DataFrame,
                          new_column_name:str,
                          column_viajes: str,
                          column_ratios:str,
                          columns_to_merge: list[str],
                          columns_to_drop: list[str]) -> pd.DataFrame:
    
    df_result = merge_dataframes_left(df_test,
                                      df_ratios_desagregacion,
                                      columns_to_merge)
    
    df_result[new_column_name] =  df_result[column_viajes] * df_result[column_ratios]
    df_result = df_result.drop(columns = columns_to_drop)

    return df_result


def main():
    '''
    Función que realiza la desagregación de viajeros. Partiendo
    de datos de viajeros provinciales se obtiene: número de viajes
    (vehículos) por carretera, municipio y hora.
    '''
    # Cargamos los datos que queremos desagregar
    df_test, fecha_test = carga_datos_test(path_datos_test = path_datos_test,
                                           file_name= test_file_name)

    # Cargamos los ratios calculados
    df_ratios_modo = carga_ratios_general(path_ratios_modo)
    df_ratios_ocupacion = carga_ratios_general(path_ratios_ocupacion)
    df_ratios_municipal = carga_ratios_municipal(path_ratios_municipales, fecha_test)
    df_ratios_hora = carga_ratios_general(path_ratios_horarios)

    # Obtenemos, de forma secuencial, los viajes desagregados
    # Paso 1: obtenemos los viajes por carretera
    df_carretera = calculo_desagregacion(df_test,
                                         df_ratios_modo,
                                         new_column_name = "viajes_carretera",
                                         column_viajes = "viajes_provinciales",
                                         column_ratios = "ratio_C",
                                         columns_to_merge = ["P_O", "P_D", "tipo_dia"],
                                         columns_to_drop = ["viajes_provinciales", "ratio_C", "ratio_R"])
    
    # Paso 2: obtenemos el número de vehiculos
    df_vehiculo_carretera = calculo_desagregacion(df_carretera,
                                                  df_ratios_ocupacion,
                                                  new_column_name = "vehiculos_carretera",
                                                  column_viajes = "viajes_carretera",
                                                  column_ratios = "ratio_ocupacion",
                                                  columns_to_merge = ["tipo_dia"],
                                                  columns_to_drop = ["tipo_dia", "viajes_carretera"])
    
    # Paso 3: desagregación por municpios
    df_municipio = calculo_desagregacion(df_ratios_municipal,
                                         df_vehiculo_carretera,
                                         new_column_name = "vehiculos_mcp_carretera",
                                         column_viajes = "vehiculos_carretera",
                                         column_ratios = "ratio_municipal",
                                         columns_to_merge = ["P_O", "P_D", "mes", "day_week"],
                                         columns_to_drop = ["ratio_municipal", "vehiculos_carretera"])
    
    # Paso 4: Desagregación por horas
    df_municipio_hr = calculo_desagregacion(df_municipio,
                                            df_ratios_hora,
                                            new_column_name = "vehiculos_mcp_carretera_hr",
                                            column_viajes = "vehiculos_mcp_carretera",
                                            column_ratios = "ratios_horarios",
                                            columns_to_merge = ["P_O", "P_D", "mes", "day_week"],
                                            columns_to_drop = ["ratios_horarios", "vehiculos_mcp_carretera"])
    
    # Solo tomamos las columnas que nos interesan
    final_columns = ["P_O", "P_D", "M_O", "M_D", "hora", "vehiculos_mcp_carretera_hr"]
    df_municipio_hr = df_municipio_hr[final_columns]

    return df_municipio_hr

In [62]:
df_municipio_hr = main()

In [69]:
import pickle

with open('results/sample.pkl', 'wb') as file:
    pickle.dump(df_municipio_hr, file)

In [70]:
with open('results/sample.pkl', 'rb') as file:
    df_municipio_hr_new = pickle.load(file)

df_municipio_hr_new

         P_O P_D    M_O    M_D  hora  vehiculos_mcp_carretera_hr
0         01  02  01002  02003     0                    0.000000
1         01  02  01002  02003     1                    0.000000
2         01  02  01002  02003     2                    0.008301
3         01  02  01002  02003     3                    0.000000
4         01  02  01002  02003     4                    0.000000
...       ..  ..    ...    ...   ...                         ...
20778355  PT  50     PT  50298    19                    0.144638
20778356  PT  50     PT  50298    20                    0.095890
20778357  PT  50     PT  50298    21                    0.073342
20778358  PT  50     PT  50298    22                    0.051761
20778359  PT  50     PT  50298    23                    0.032071

[20778360 rows x 6 columns]